@model IEnumerable<LanchesMAC_WEB_APP_.Models.Item>

<div class="title"> 
    <h2>Todos os Itens</h2>
</div>

@foreach(var item in Model){
    <div class="Item">
        <h4>Item: @item.NomeItem</h4>
        <p><img src="@item.ImagemUrl" /></p>
        <p>Preço: @item.Preco.ToString("c")</p>
    </div>
}